<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Hey Traveller!</h1>
		<p>Do you have difficulty finding a solution where you can plan a trip with your mates? so do we and we are on verge to solve it
		*drinks a beer* any way subscribe and stay tuned to know more.</p>
		<a href="https://api.elasticemail.com/form?lid=_Lhi91GMCMYdGruA5HR_WA2" class="btn btn-primary btn-lg">Subscribe</a>
	</div>
</div>
	
</body>
</html>
